<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section class="btn_details center-block">
            <%= button_to "microposts", user_path, method: :get ,class: "btn btn-default" %>
            <%= button_to "followings", followings_user_path, method: :get ,class: "btn btn-default" %>
            <%= button_to "followers", followers_user_path, method: :get ,class: "btn btn-default disabled" %>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @followers.any? %>
            <h3>follower users (<%= @followers.count %>)</h3>
            <div class="row">
                <% @followers.each do |follower| %>
                    <%= render partial: 'users/followers_list', locals: { follower: follower } %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>